@model WashingCar.DAL.Entities.Vehicle

<h4>Ciudad</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Owner)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Owner)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NumberPlate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NumberPlate)
    </dd>
    <partial name="../Shared/PartialViews/_VehicleDetails.cshtml" />
</dl>