@model WashingCar.Models.ServicesViewModel

@{
    ViewData["Title"] = "Crear Servicio";
}

<h1>Crear Servicio</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label asp-for="Owner" class="control-label"></label>
                        <input asp-for="Owner" class="form-control" />
                        <span asp-validation-for="Owner" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NumberPlate" class="control-label"></label>
                        <input asp-for="NumberPlate" class="form-control" />
                        <span asp-validation-for="NumberPlate" class="text-danger"></span>
                    </div>

                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}